#sect1{
    width: 100vw;
    height: 80vh;

    display: grid;
    grid-template-columns: 1fr 35%;
    align-items: center;
    justify-content: center;

    padding: 7.5%;
}


#sect1 .left{
    font-size: 1.5cqw;

    h1, span{
        margin-bottom: 2%;
        font-family: "empFont";
        font-size: 3cqw;
    }
}


#sect1 .right{
    position: relative;
}

#sect1 img{
    width: 80%;
    border-radius: 100%;
    filter: blur(.5px);
    box-shadow: 50px 20px 200px 10px rgba(0, 255, 128, 0.5);
}
